<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
 
  		<typeAlias type="com.to.t1.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.to.t1.member.JoinFileVO" alias="JoinFileVO"/>

		<typeAlias type="com.to.t1.toon.ToonVO" alias="ToonVO"/>
		<typeAlias type="com.to.t1.review.ReviewVO" alias="ReviewVO"/>
		<typeAlias type="com.to.t1.toon.eachep.EachEpVO" alias="EachEpVO"/>

		
  		<typeAlias type="com.to.t1.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.to.t1.board.BoardFileVO" alias="BoardFileVO"/>
  		<typeAlias type="com.to.t1.board.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.to.t1.board.qna.QnaVO" alias="QnaVO"/>
  		
  		
		<typeAlias type="com.to.t1.util.Pager" alias="Pager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
  		

  	</typeAliases>
  
  </configuration>