@charset "UTF-8";

.grid {
	width: 100px;
	margin: 0 auto;

}


.grid-item {
	widows: 200px;
	height: 200px;

}

.view_type {
	 position: absolute;
	  left: 1230px;
	  
}

.grid-item.a { background-color:  white;}



.mon{
	color: red; 
}

.tue{
	color: orange;
}

.wen {
	color: yellow;
}

.the {
	color: green;
}

.fri {
	color: blue;
}

.sat {
	color: navy;
}

.sun {
	color: purple;
}

















