.toon{
    width: 90%;
    margin: 10px auto;
}

.action {
    
    float: left;
    width:16%;
    
}

.school{
   
    float: left;
 
    width:16%;
}

.romance{
   
    float: left;
    width:16%;
    
}

.fantasy{
   
    float: left;
    width:16%;
  
}


.thriller{
   
    float: left;
    width:16%;
   
}

.comedy{
  
    float: left;
  
    width:16%;
   
}












