.toon{
	
    width: 80%;
    margin: 20px auto;
    align-self: center;
}


 .w {
	color: gray;
}
    
    
.view_type{
	
	float: right;
	width: 20%;
}
    
.rank{
	 width: 80%;
    margin: 10px auto;
    }
    
    
.rank1{
	
	width: 80%;
    margin: 20px auto;
}


.rank1{
	
	width: 80%;
    margin: 20px auto;
}

.rank1{
	
	width: 80%;
    margin: 20px auto;
}
