.toon2{
    width: 90%;
    margin: 10px auto;
}

.mon2 {
    
    float: left;
    width:14%;
    
}

.tue2{
   
    float: left;
 
    width:14%;
}

.wen2{
   
    float: left;
    width:14%;
  
}


.the2 {
   
    float: left;
    width:14%;
   
}

.fri2{
  
    float: left;
  
    width:14%;
   
}

.sat2{
   
    float: left;
    width:14%;
    
}


.sun{
   
    float: left;
    width:14%;
    
}

