<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.to.t1.member.admin.AdminMapper">
		
	    <sql id="searcher">
         <!-- 공통으로 사용하는 sql문 -->
         <where>
            <choose>
               <when test="kind=='writerID'">
                  writerId like concat('%', #{search}, '%')
               </when>
               
               <when test="kind=='genre'">
                  genre like concat('%', #{search}, '%')
               </when>
               
               <when test="kind=='toonSum'">
                  toonSum like concat('%', #{search}, '%')
               </when>
               
               <otherwise>
                  toonTitle like concat('%', #{search}, '%')
               </otherwise>
            </choose>
         </where>
         </sql>
         
         <select id="getFileSelect" parameterType="AdminFileVO" resultType="AdminFileVO">
      select * from toonFiles where fileNum=#{fileNum}
      </select>
         
         <select id="getManageToonList" resultType="ToonVO" parameterType="Pager">
         select * from toon
         <include refid="searcher"></include>
         order by toonNum desc
         limit #{startRow}, #{perPage}
         <!-- limit 시작index번호(0부터시작), 갯수 --> 
         </select>
         
      <select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
            select count(toonNum) from toon
            <include refid="searcher"></include>
         </select>
         
         <select id="getManageToonSelect" resultMap="selectResult" parameterType="ToonVO">
      		 SELECT * from toon WHERE toonNum= #{toonNum}
         </select>

         <resultMap type="ToonVO" id="selectResult">
            <id column="toonNum" property="toonNum"/>
            <result column="toonTitle" property="toonTitle"/>
            <result column="genre" property="genre"/>
            <result column="writerId" property="writerID"/>
            <result column="toonSum" property="toonSum"/>
            <result column="createdDate" property="createdDate"/>
            <result column="totalHit" property="totalHit"/>
            <result column="toonDay" property="toonDay"/>
            <result column="state" property="state"/>
            <result column="titleImg" property="titleImg"/>
            <result column="ratingSum" property="ratingSum"/>
            <result column="ratingPerson" property="ratingPerson"/>
         </resultMap>
         
         <insert id="setManageToonInsert" parameterType="ToonVO" useGeneratedKeys="true" keyProperty="toonNum">
            insert into toon values(#{toonNum}, #{toonTitle}, #{genre}, #{writerID}, #{toonSum}, 0, #{toonDay}, #{state}, #{titleImg}, #{ratingSum}, #{ratingPerson})
         </insert>
        
         <update id="setManageToonUpdate" parameterType="ToonVO">
            update toon set toonTitle=#{toonTitle}, genre=#{genre}, writerId=#{writerID}, toonSum=#{toonSum}, toonDay=#{toonDay}, titleImg=#{titleImg} where toonNum=#{toonNum}
         </update>
         
         <delete id="setManageToonDelete" parameterType="ToonVO">
            delete from toon where toonNum=#{toonNum}
         </delete> 

</mapper>