<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.to.t1.toon.complete.CompToonMapper">
   
   <!-- 조회하기 --> 
   <!-- 1. EndToonVO 에서 조회 -->
   <select id="getEndToonInfo" parameterType="ToonVO" resultType="EndToonVO">
   		SELECT * FROM toon WHERE toonNum = #{toonNum};
   </select>
   <resultMap type="EndEpVo" id="EndWithTicket">
	   <id property="epNum" column="epNum"/>
	   <result property="toonNum" column="toonNum"/>
	   <result property="eachEpNum" column="eachEpNum"/>
	   <result property="epSumImg" column="epSumImg"/>
	   <result property="epTitle" column="epTitle"/>
	   <result property="epDate" column="epDate"/>
	   <result property="epContentImg" column="epContentImg"/>
	   <result property="epHit" column="epHit"/>
	   <result property="epRatingSum" column="epRatingSum"/>
	   <result property="epRatingPerson" column="epRatingPerson"/>
	   
	   <association property="useTicketVO" javaType="UseTicketVO">
	   		<result property="sort" column="sort"/>
	   </association> 
   </resultMap>
   <!-- 2. Eplist와 userTicket resultMap-->
   <select id="getEndToonList" parameterType="UseTicketVO" resultMap="EndWithTicket">
   		SELECT ep.* ,IFNULL(ut.sort,0) AS sort 
   		FROM eachep as ep LEFT OUTER JOIN (
   		SELECT * FROM useticket 
   		WHERE (username = #{username} AND toonNum =#{toonNum}) AND sort = 1) as ut 
   		on (ep.toonNum = ut.toonNum AND ep.epNum = ut.epNum)  
   		WHERE ep.toonNum = #{toonNum} 
		ORDER BY ep.eachEpNum
   </select>
   
   </mapper>