<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="com.to.t1.board.free.FreeMapper">
         <sql id="searcher">
         <!-- 공통으로 사용하는 sql문 -->
         <where>
            <choose>
               <when test="kind=='username'">
                  username like concat('%', #{search}, '%')
               </when>
               
               <when test="kind=='freeContents'">
                  freeContents like concat('%', #{search}, '%')
               </when>
               
               <otherwise>
                  freeTitle like concat('%', #{search}, '%')
               </otherwise>
            </choose>
         </where>
         </sql>
         
      <select id="getFileSelect" parameterType="FreeFileVO" resultType="FreeFileVO">
      select * from freeFiles where fileNum=#{fileNum}
      </select>
           
         <select id="getList" resultType="FreeVO" parameterType="Pager">
         select * from free
         <include refid="searcher"></include>
         order by boNum desc
         limit #{startRow}, #{perPage}
         <!-- limit 시작index번호(0부터시작), 갯수 --> 
         </select>
         
      <select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
            select count(boNum) from free
            <include refid="searcher"></include>
         </select>
         
         <select id="getSelect" resultMap="selectResult" parameterType="FreeVO">
         SELECT F.*, FF.* from
         free F left join freeFiles FF
         on F.boNum = FF.boNum
         WHERE F.boNum=#{boNum}
         </select>

         <resultMap type="FreeVO" id="selectResult">
            <id column="boNum" property="boNum"/>
            <result column="freeTitle" property="freeTitle"/>
            <result column="username" property="username"/>
            <result column="freeContents" property="freeContents"/>
            <result column="freeDate" property="freeDate"/>
            <result column="freeHit" property="freeHit"/>
            <collection property="freefiles" javaType="java.util.List" ofType="FreeFileVO">
               <id column="fileNum" property="fileNum"/>
               <result column="fileName" property="fileName"/>
               <result column="oriName" property="oriName"/>
            </collection>
         </resultMap>
         
         <update id="setHitUpdate" parameterType="FreeVO">
            update free set freeHit=freeHit+1 where boNum=#{boNum}
         </update>
         
         <insert id="setInsert" parameterType="FreeVO" useGeneratedKeys="true" keyProperty="boNum">
            insert into free values(#{boNum}, #{freeTitle}, #{username},#{freeContents}, now(), 0)
         </insert>
         
         <insert id="setFileInsert" parameterType="FreeFileVO">
            insert into freeFiles (fileNum, boNum, fileName, oriName)
            values (#{fileNum}, #{boNum}, #{fileName}, #{oriName})
         </insert>
         
         <delete id="setFileDelete" parameterType="FreeFileVO">
         delete from freeFiles where fileNum=#{fileNum}
      	 </delete>
         
         <update id="setUpdate" parameterType="FreeVO">
            update free set freeTitle=#{freeTitle}, freeContents=#{freeContents} where boNum=#{boNum}
         </update>
         
         <delete id="setDelete" parameterType="FreeVO">
            delete from free where boNum=#{boNum}
         </delete> 
         
        
   
   </mapper>