<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="com.to.t1.member.MemberMapper">
   
		<insert id="setJoin" parameterType="MemberVO">
			insert into member (username, password, name, nickname, phone, email, enabled)
			values(#{username}, #{password}, #{name}, #{nickname}, #{phone}, #{email}, 1)
		</insert>  
		
		<insert id="setJoinFile" parameterType="JoinFileVO">
			insert into joinfiles (username, fileName, oriName) 
			values(#{username}, #{fileName}, #{oriName})
		</insert>
		
		<insert id="setMemberRole" parameterType="java.util.Map">
			insert into member_role (username, id)
			values (#{username}, (select id from role where roleName=#{roleName}))
		</insert>
		
<!-- 		<select id="myPage" parameterType="MemberVO" resultType="MemberVO"> -->
		<select id="myPage" parameterType="MemberVO" resultMap="memberLoginResult">
<!-- 			SELECT * FROM joinfiles WHERE username = #{username} -->
			
<!-- 			SELECT M.*, R.* -->
<!-- 				FROM member M LEFT JOIN member_role MR -->
<!-- 				ON M.username=MR.username -->
<!-- 				INNER JOIN role R  -->
<!-- 				ON MR.id = R.id -->
<!-- 				WHERE M.username=#{username} -->
				
			select M.*, MF.fileName 
				from member M left join joinfiles MF
				on M.username = MF.username
				where
				M.username=#{username}
		</select>
		
		

		<select id="getUsername" parameterType="MemberVO" resultType="MemberVO">
			select * from member where username=#{username}
		</select>
		
		<select id="searchId"  parameterType="MemberVO" resultType="MemberVO">
			select username from member where name=#{name} and phone=#{phone}
		</select>
		
		<select id="memberJoinCheck" parameterType="MemberVO" resultType="MemberVO">
			select * from member where username=#{username}
		</select>
	
		<select id="searchPw"  parameterType="MemberVO" resultType="MemberVO">
			select password from member where username=#{username} and phone=#{phone}
		</select>
		
		<select id="getLogin" parameterType="MemberVO" resultMap="getLoginResult">
<!-- 			select M.*, MF.fileName  -->
<!-- 			from member M left join joinfiles MF -->
<!-- 			on M.username = MF.username -->
<!-- 			where -->
<!-- 			M.username=#{username} and M.password=#{password} -->
				SELECT M.*, R.*
				FROM member M LEFT JOIN member_role MR
				ON M.username=MR.username
				INNER JOIN role R 
				ON MR.id = R.id
				WHERE M.username=#{username} 
		</select>
		
		
		<resultMap type="MemberVO" id="getLoginResult">
			<id column="username" property="username"/>
			<result column="password" property="password"/>
			<result column="name" property="name"/>
			<result column="nickname" property="nickname"/>
			<result column="phone" property="phone"/>
			<result column="email" property="email"/>
			<result property="point" column="point"/>
			<result column="enabled" property="enabled"/>
			<collection property="roles" javaType="java.util.List" ofType="RoleVO">
				<id column="id" property="id"/>
				<result column="roleName" property="roleName"/>
			</collection>
		
		</resultMap>

		<update id="memberUpdate" parameterType="MemberVO">
			update member set name=#{name}, nickname=#{nickname}, phone=#{phone}, email=#{email} where username=#{username}
		</update>

		<update id="pwUpdate" parameterType="MemberVO">
			update member set PASSWORD=#{password} where username=#{username}
		</update>
		
		<delete id="memberDelete" parameterType="MemberVO">
			delete from member where username=#{username}
		</delete>
		
		<select id="getJoinFile" parameterType="MemberVO" resultType="JoinFileVO">
			select fileName from joinfiles where username=#{username}
		</select>
		
		<resultMap type="MemberVO" id="memberLoginResult">
		<id property="username" column="username" />
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="nickname" column="name"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="point" column="point"/>
		<association property="joinFileVO" javaType="JoinFileVO" resultMap="memberFileResult">
			</association>
		</resultMap>
	
	<resultMap type="JoinFileVO" id="memberFileResult">
			<id property="fileNum" column="fileNum"/>
			<result property="fileName" column="fileName"/>
			<result property="oriName" column="oriName"/>
	</resultMap>
		
		
			
   </mapper>