
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.to.t1.review.ReviewMapper">

	<select id="getList" parameterType="Pager" resultType="ReviewVO">
		SELECT*FROM review 
		WHERE EpNum=#{epNum} AND toonNum=#{toonNum} order BY revNum DESC
		LIMIT #{startRow},#{perPage}
	</select>

	<select id="getTotalCount" parameterType="Pager"
		resultType="Long">
		SELECT COUNT(revNum) FROM review WHERE toonNum=#{toonNum} and epNum=#{epNum}
	</select>

	<insert id="setReview" parameterType="ReviewVO">
		INSERT INTO
		review(toonNum,epNum,username,rating,comments)
		VALUES(#{toonNum},#{epNum},#{username},#{rating},#{comments})
	</insert>

	<delete id="delReview" parameterType="ReviewVO">
		DELETE FROM review WHERE
		revNum= #{revNum}
	</delete>

</mapper>